<head>
  <title>Mangas</title>
  <%- include('partials/head') %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@16,100&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
<%- include('partials/header') %>
<main class="container text-center mt-5">
  <h1 class="honk-BvMM">Descubrí nuestros Mangas</h1>
  <p class="press-start-2p-regular">
    Explora los mejores títulos de manga, cómics y cultura japonesa. ¡Tenemos algo para cada fan!
  </p>
  <div class="row justify-content-center my-4">
    <div class="col-12 mb-4">
      <div class="card p-3 mx-auto" style="max-width:900px;">
        <img src="/images/shonen.jpg" class="card-img-top" alt="Shonen">
        <div class="card-body">
          <h2 class="honk-BvMM">Shonen</h2>
          <p class="press-start-2p-regular">El Shounen o más conocido como Shonen es el género de anime más básico y común que podremos encontrar en la lista. Como os digo es el género más común y suele ser una mezcla equilibrada entre acción y comedia. Por supuesto lo más habitual es que el público Shounen sea mayormente masculino. Se caracteriza por ser un género en el que hay una gran cantidad de acción con personajes peculiares que todos recordamos.
            <br>
            <br>
             Algunas series o películas de género Shounen son las siguientes:
             <lu>
              <li class="honk-BvMM honk-small">Dragon Ball</li>
              <li class="honk-BvMM honk-small">Naruto</li>
              <li class="honk-BvMM honk-small">One Piece</li>
             </lu>
          </p>
        </div>
      </div>
    </div>
        <div class="col-12 col-md-10 mb-4">
      <div class="card p-3 mx-auto" style="max-width:900px;">
        <img src="/images/mecha.webp" class="card-img-top" alt="mecha">
        <div class="card-body">
          <h2 class="honk-BvMM">Mecha</h2>
          <p class="press-start-2p-regular">Lo que más nos gusta al final del día es llegar a casa y ver a robots gigantes pegándose entre sí, es la verdad y cuando lo admitamos seremos felices. Por eso este género no es sólo para referirse al personaje de Overwatch que lleva a D.Va, es más que eso. Un género que adoramos generalmente con temática de ciencia ficción en el que podemos ver grandes robots peleando entre sí. Por supuesto no se deja de lado la comedia y podremos ver escenas muy entretenidas. Así te enseñamos cuáles son los diferentes géneros del anime y el manga.
            <br>
            <br>
            Algunas series o películas de género Mecha son los siguientes:
            <lu>
              <li class="honk-BvMM honk-small">Voltes V</li>
              <li class="honk-BvMM honk-small">Mazinger Z</li>
              <li class="honk-BvMM honk-small">Gundam</li>
            </lu>
             </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-10 mb-4">
      <div class="card p-3 mx-auto" style="max-width:900px;">
        <img src="/images/shojo.jpg" class="card-img-top" alt="Shojo">
        <div class="card-body">
          <h2 class="honk-BvMM">Shojo</h2>
          <p class="press-start-2p-regular">El Shojo es prácticamente lo mismo que el “Shounen“, la unica diferencia es que el Shojo está más dirigido a un público femenino adolescente, el personaje principal siempre es una chica, generalmente adolescente y la trama del anime suele ir ligada más con las relaciones y el romance de una adolescente que la propia acción que define al género Shonen.
            <br>
            <br>
            Algunas series o películas de género Shojo son los siguientes:
            <lu>
              <li class="honk-BvMM honk-small">Sailor Moon</li>
              <li class="honk-BvMM honk-small">Nana</li>
              <li class="honk-BvMM honk-small">Cardcaptor Sakura</li>
            </lu>
             </p>
        </div>
      </div>
    </div>
        <div class="col-12 col-md-10 mb-4">
      <div class="card p-3 mx-auto" style="max-width:900px;">
        <img src="/images/hentai.png" class="card-img-top" alt="Hentai">
        <div class="card-body">
          <h2 class="honk-BvMM">Hentai</h2>
          <p class="press-start-2p-regular">El género Hentai es extremadamente conocido por una gran parte de la población, al final del día el Hentai es un género que contiene contenido sexual gráfico explicito, muy explícito si me permitís remarcarlo. En este género no hay filtro y podemos ver animales con personas, seres sobrenaturales y cosas que hubiera preferido no ver.. El género está muy explotado en Videojuegos, Dibujos, Novelas, Anime, manga y muchos más. Ahora ya sabes cuáles son los diferentes géneros del anime y el manga en los que la gente pasa más tiempo.
            <br>
            <br>
            Algunas series o películas de género Hentai son los siguientes:
            <lu>
              <li class="honk-BvMM honk-small">Kanojo x Kanojo x Kanojo</li>
              <li class="honk-BvMM honk-small">Dropout</li>
              <li class="honk-BvMM honk-small">Amakano</li>
            </lu>
             </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-10 mb-4">
      <div class="card p-3 mx-auto" style="max-width:900px;">
        <img src="/images/isekai.jpg" class="card-img-top" alt="Isekai">
        <div class="card-body">
          <h2 class="honk-BvMM">Isekai</h2>
          <p class="press-start-2p-regular">El Shojo es prácticamente lo mismo que el “Shounen“, la unica diferencia es que el Shojo está más dirigido a un público femenino adolescente, el personaje principal siempre es una chica, generalmente adolescente y la trama del anime suele ir ligada más con las relaciones y el romance de una adolescente que la propia acción que define al género Shonen.
            <br>
            <br>
            Algunas series o películas de género Shojo son los siguientes:
            <lu>
              <li class="honk-BvMM honk-small">Sailor Moon</li>
              <li class="honk-BvMM honk-small">Nana</li>
              <li class="honk-BvMM honk-small">Cardcaptor Sakura</li>
            </lu>
             </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-10 mb-4">
      <div class="card p-3 mx-auto" style="max-width:900px;">
        <img src="/images/ecchi.png" class="card-img-top" alt="Ecchi">
        <div class="card-body">
          <h2 class="honk-BvMM">Ecchi</h2>
          <p class="press-start-2p-regular">El Ecchi digamos que es la versión más light del Hentai, es menos bruto y menos explícito. Tiene un alto contenido erótico pero bien controlado, prácticamente encaja en cualquier escenario, ya sea ciencia ficción, equipos deportivos o universidades y colegios mayores. (Especialmente en colegios mayores) No termina de ser tan obsceno y es un género erótico muy demandado por usuarios.
            <br>
            <br>
            Algunas series o películas de género Ecchi son los siguientes:
            <lu>
              <li class="honk-BvMM honk-small">Aki Sora</li>
              <li class="honk-BvMM honk-small">Shinmai Maou no Testament</li>
              <li class="honk-BvMM honk-small">Kiss X Sis</li>
            </lu>
             </p>
        </div>
      </div>
    </div>
        <div class="col-12 col-md-10 mb-4">
      <div class="card p-3 mx-auto" style="max-width:900px;">
        <img src="/images/seinen.jpg" class="card-img-top" alt="Seinen">
        <div class="card-body">
          <h2 class="honk-BvMM">Seinen</h2>
          <p class="press-start-2p-regular">El Seinen puede ser similar al Shonen, sin embargo el Seinen destaca en diferentes aspectos ya que cuenta con historias de tramas dirigidas a un público adulto, en las que suelen contener mucha violencia o que tratan temas muy profundos. el Seinen se le da mucha importancia al argumento de la historia y al guión, no todo se basa en la acción y los golpes como si podría ser más en el Shonen. Y si no decídselo a Goku en Dragon Ball Super que siempre está deseando enfrentarse con rivales más y más poderosos.
            <br>
            <br>
            Algunas series o películas de género Seinen son los siguientes:
            <lu>
              <li class="honk-BvMM honk-small">Death Note</li>
              <li class="honk-BvMM honk-small">Shingeki No Kyojin</li>
              <li class="honk-BvMM honk-small">Psycho-Pass</li>
            </lu>
             </p>
        </div>
      </div>
    </div>
  </div>
  <a href="/" class="btn-crear">Volver al inicio</a>
</main>
<%- include('partials/footer') %>
</body>
